@font-face {
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap")
        format("woff");
    font-weight: normal;
    font-style: normal;
}
@keyframes done {
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

html {
    font-family: Roboto !important;
}

html,
body,
#root {
    min-height: 100vh;
}

*,
::before,
::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body,
div,
button,
h1 {
    font: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    background: 0;
}

#title {
    font-size: 3rem;
    margin: 2rem 0;
}

#root {
    padding-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(./bg.png) no-repeat;
    background-size: cover;
    background-position: top;
}

#numbers {
    display: flex;
    margin-bottom: 20px;
    padding: 30px;
    border: 3px solid #ffeaa2;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
}

#numbers .ball {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    line-height: 80px;
    font-size: 48px;
    border-radius: 50%;
    text-align: center;
}

#numbers .ball:last-child {
    margin-bottom: 0;
}

#numbers .ball.blue {
    background: #69c8f2;
}

#numbers .ball.yellow {
    background: rgb(247,144,29);
    background: linear-gradient(90deg, rgba(247,144,29,1) 0%, rgba(252,220,139,1) 50%, rgba(247,144,29,1) 100%);
}

#numbers .ball.red {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(211,84,0);
    background: linear-gradient(90deg, rgba(211,84,0,1) 0%, rgba(230,126,34,1) 50%, rgba(211,84,0,1) 100%);
}

#numbers .ball.grey {
    background: #aaa;
}

#numbers .ball.bonus {
    background: #b0d840;
}

#numbers .ball.done {
    animation: done 0.5s linear;
}

#numbers .ball:last-child {
    margin-right: 0;
}

#numbers .plus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-size: 48px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

@media screen and (min-width: 335px) {
    #numbers {
        width: 330px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #numbers .ball {
        margin-right: 10px;
    }

    #numbers .ball:nth-of-type(3n) {
        margin-right: 0;
    }

    #numbers .plus {
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    #numbers {
        width: auto;
    }
    #numbers .ball,
    #numbers .ball:nth-of-type(3n) {
        margin-right: 10px;
        margin-bottom: 0;
    }

    #numbers .plus {
        width: auto;
        margin: 0 10px 0 0;
    }
}

#btn {
    position: relative;
    display: block;
    padding: 1rem 2.5rem 1.6rem;
    color: #ffeaa2;
    border: 2px solid #ffeaa2;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    user-select: none;
    font-size: 1.75rem;
}

#btn:active {
    padding: 1rem 2.5rem 1rem;
    margin-top: 0.6rem;
    background: #ffeaa2;
    color: #fff;
}

#btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: 0.6rem;
    width: 100%;
    background-image: repeating-linear-gradient(
        45deg,
        #ffeaa2,
        #ffeaa2 1px,
        transparent 2px,
        transparent 5px
    );
    border-top: 1px solid #ffeaa2;
    transition: 0.5s;
}

#btn:active::after {
    transform: translateY(0.6rem);
}

#btn.hide {
    transform: scale(0);
}

@media (prefers-color-scheme: dark) {
    html {
        background: #121212;
    }

    #title,
    #btn,
    .plus {
        color: #ffeaa2;
    }

    #btn {
        border-color: #ffeaa2;
    }

    #btn::after {
        background-image: repeating-linear-gradient(
            45deg,
            #ffeaa2,
            #ffeaa2 1px,
            transparent 2px,
            transparent 5px
        );
    }

    #btn:active {
        background: rgba(252,220,139,1);
    }
}

.row {
    display: flex;
}

.row button:not(:last-child) {
    margin-right: 30px;
}

.mt-2 {
    margin-top: 0.75rem;
}
